:root {
    --off-white: oklch(0.9702 0.0069 124.45);
    --primary-color: oklch(0.6684 0.139 131.97);
    --secondary-color: oklch(0.8361 0.1664 82.47);

    --primary-color-button: oklch(0.94 0.099 128.78);
    --primary-color-button-text: oklch(0.4265 0.0824 131.97);
    --button-highlighted-gradient-alt: oklch(0.7652 0.1771 51.3);
    --button-highlighted-background: oklch(0.9386 0.0631 84.4);
    --button-hover-background: oklch(0.9 0.0953 84.4);
    --button-clicked-background: oklch(0.5616 0.0885 51.3);
    --button-highlighted-gradient: linear-gradient(300deg, var(--secondary-color), var(--button-highlighted-gradient-alt));

    --fundecor-navy: oklch(0.3518 0.0714 235.95);
    --light-blue: oklch(0.7693 0.0766 228.63);
    --pale-blue: oklch(0.8693 0.0366 228.63);
    --navy-gradient-alt: oklch(0.4289 0.099 274.75);
    --navy-gradient-alt-light: oklch(0.6289 0.099 274.75);
    --navy-gradient: linear-gradient(50deg, var(--fundecor-navy), var(--navy-gradient-alt));
    --navy-gradient-light: linear-gradient(50deg, var(--navy-gradient-alt), var(--navy-gradient-alt-light));
}

html {
    font-size: 16px;
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
    background-color: var(--fundecor-navy);
}

body {
    margin: 0px;
    padding: 0px;

    font-family: 'Source Sans 3', sans-serif;
    color: var(--off-white);
}

video {
    /* TODO: THIS IS NOT EQUIPPED FOR PORTRAIT VIEW */
    width: 90%;
    margin: 1rem;
    margin-top: 0.5rem;
    border: 0.5rem solid var(--secondary-color);
    border-radius: 0.25rem;
}

/* -------- Text Styling -------- */
h1 {
    font-size: xx-large;
    font-family: 'Source Sans 3', sans-serif;
    color: var(--off-white);
    width: fit-content;
}

h2 {
    font-size: x-large;
    font-family: 'Source Sans 3', sans-serif;
    color: var(--off-white);
    width: fit-content;
}

p {
    font-size: 16px;
    font-weight: 600;
    font-family: 'Source Sans 3', sans-serif;
    text-indent: 2em;
    width: fit-content;
    max-width: 1100spx;
}

a {
    color: var(--secondary-color);
}

ul {
    list-style: none;
    padding-left: 0;
}

li {
    padding-left: 0.5rem;
    position: relative;
}

.list li::before {
    font-weight: 900;
    content: '↪';
    position: absolute;
    left: 0.5rem;
}

.emphasis {
    font-weight: initial + 200;
}

/* END BASE ELEMENT STYLING */
/* || Utility Classes */
.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}
/* END UTILITY CLASSES */

/* || GENERAL CONTAINER STYLES
    "CONTAINERS" are the catch-all term used in this webpage to describe "boxes" or "sections" of content. 
    They are then styled and colored with other classes, most notable the color options using .primary, .secondary, and
    .tiertiary. There are also specific overrides for content features such as <p> and <h1> to fix color rules and spacing.
*/
.container {
    flex-flow: row;
    flex-wrap: wrap;
    flex-direction: row;

    padding: 1.5vh 2vw;
    height: 100%;
}

.primary {
    background-color: var(--primary-color);
}

.secondary {
    color: var(--fundecor-navy);
    background-color: var(--secondary-color);
}

.secondary h1,
.secondary p {
    font-weight: 800;
    color: var(--fundecor-navy);
}

.secondary a {
    color: var(--navy-gradient-alt);
}

.tiertiary {
    background-color: var(--fundecor-navy);
}

.tiertiary-bright {
    background-color: var(--light-blue);
}

.background {
    background-color: var(--off-white);
}

.background p,
.background h1 {
    color: var(--fundecor-navy);
}

.container h1:first-of-type {
    margin-top: 2rem;
}

.centered-content {
    align-items: center;
    justify-content: center;
}

.two-column-section {
    display: flex;
    align-items: stretch;
    gap: 0rem;
}

@media (max-width: 768px) {
    .two-column-section {
        flex-direction: column; /* Stack vertically on small screens */
    }
}

.column-left,
.column-right {
    flex: 0 0 50%; /* flex-grow: 0, flex-shrink: 0, flex-basis: 50% */
}
/* END GENERAL CONTAINER STYLES */

/* || RANDOM MORE SINGULAR STYLES, i.e. logo image */
.logo-image {
    height: 14vh;
    margin-right: 5rem;
    padding: 0rem;
}

.logo {
    font-size: 42px;
}

.logo h1 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/* Form styling */
form {
    gap: 1vh;
    font-family: 'Source Sans 3', sans-serif;
}

label {
    color: var(--fundecor-navy);
    font-weight: bold;
    padding-top: 3rem;
}

form input {
    /* TODO! This is not set up for mobile */
    max-width: 40vw;
}

form textarea {
    max-width: 60vw;
    /* For some reason if you don't specify the font here as well it uses the browser fallback one. idk */
    font-family: 'Source Sans 3', sans-serif;
}

form button {
    font-weight: bold;
    max-width: fit-content;
    padding: 0.5vh 1vw;
}

/* Meet the team section */
.meet-the-team {
    /* TODO! THIS ONLY SUPPORTS LANDSCAPE! */
    background-color: var(--primary-color);
    display: flex;
    height: fit-content;
    flex-direction: row;
    align-items: center;
    margin-bottom: 2rem;
    gap: 4rem;
}

.meet-the-team h1 {
    color: var(--secondary-color);
    font-size: x-large;
}

.meet-the-team-info {
    width: 50vw;
    max-width: 600px;
}

.meet-the-team-info p {
    font-size: larger;
    text-indent: 0;
}
.meet-the-team-info h2 {
    font-size: xx-large;
    margin-bottom: 0rem;
}

.meet-the-team img {
    height: 20rem;
    border: 0.5rem solid var(--fundecor-navy);
    border-radius: 0.25rem;
    margin-right: 1rem;
    margin-left: 1rem;
}
/* End meet the team section */
/* FAQ section */
.faq-box {
    background-color: var(--fundecor-navy);
    position: relative;

    width: 80vw;
    max-width: 1200px;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    margin: 1rem;

    border-radius: 1rem;
    border-width: 2px;
    z-index: 1;
}

.faq-box::before {
    content: '';
    position: relative;
    inset: -3px; /* controls border thickness */
    border-radius: inherit;
    background-image: var(--button-highlighted-gradient);
    z-index: -1;
}

.faq-box p {
    font-size: medium;
    color: var(--off-white);
    text-indent: 0px;
    margin-left: 2rem;
}

.faq-box p:first-child {
    font-size: larger;
    color: var(--off-white);
}

.faq-box ul {
    list-style-type: none;
}

.faq-box li:nth-child(odd)::before {
    color: var(--off-white);
    font-size: large;
    font-weight: 900;
    content: 'Q:';
    position: absolute;
    left: 0.5rem;
}

.faq-box li:nth-child(even)::before {
    color: var(--off-white);
    font-size: large;
    font-weight: 900;
    content: 'A:';
    position: absolute;
    left: 0.5rem;
}
/* End FAQ section */

.submission-card {
    display: flex;
    background-color: var(--off-white);
    color: var(--fundecor-navy);
    width: 80vw;
    border-radius: 1rem;
    padding: 1rem;
    margin-bottom: 2rem;
}

.about {
    padding-left: 6rem;
    padding-right: 6rem;
}

.about p {
    font-size: large;
}

/* END SINGULAR STYLE THINGS */

/* || SLIDESHOW CONTAINER STYLES */
.slideshow-container-bounds {
    overflow: hidden;
    background-color: var(--primary-color);
    scroll-padding: 0vh 2vw;
}

.slideshow-container {
    background-color: var(--primary-color);

    display: flex;
    overflow-x: hidden;
    white-space: nowrap;
    flex-direction: row;

    scrollbar-width: none;
    scroll-snap-type: x mandatory;
    scroll-padding-left: 10rem;
    scroll-padding-right: 10rem;

    padding: 0rem;
    gap: 1.5rem;
    height: 3rem auto;
    width: 100vw;
}

.slideshow-container::-webkit-scrollbar {
    display: none;
}

.slide-wrapper {
    padding: 0.5rem;
    background: var(--navy-gradient);
    border-radius: 2rem;
    scroll-snap-align: start;
    flex-shrink: 0;
    /* box-shadow: 0 0 10px oklch(0% 0 0 / 20%); */
}

.slide-wrapper:last-child {
    margin-right: 2rem;
}

.leftmost-slide {
    margin-left: 2vw;
}

.slideshow-card {
    display: block;
    border-radius: 1.5rem; /* Slightly smaller than wrapper */
    height: 35rem;
    width: auto;
}

.slideshow-card img {
    border-radius: 1rem;
}
/* END SLIDESHOW CONTAINER STYLES */

/* || BUTTON STYLING */
.button {
    font-weight: 700;
    font-size: xx-large;
    font-style: normal;
    text-decoration: none;
    color: var(--primary-color-button-text);

    background-color: var(--button-highlighted-background);
    color: var(--secondary-color);
    border-image: var(--button-highlighted-gradient) 1;
    border-width: 0.4rem;
    border-style: solid;
    box-shadow:
        0 0 10px oklch(0% 0 0 / 10%) inset,
        0 0 12px oklch(0% 0 0 / 20%);

    cursor: pointer;
    padding: 10px 20px;

    justify-content: center;
    display: flex;
    max-width: fit-content;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.button:hover {
    background-color: var(--button-hover-background);
    color: var(--secondary-color);
    border-image: var(--button-highlighted-gradient) 1;
    border-width: 0.4rem;
    border-style: solid;
    box-shadow:
        0 0 14px oklch(0% 0 0 / 20%) inset,
        0 0 12px oklch(0% 0 0 / 25%);

    transition:
        background-color 0.15s,
        box-shadow 0,
        15s;
}

.button .button-text {
    background: var(--button-highlighted-gradient);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.button:active {
    background-color: var(--button-clicked-background);
    color: var(--secondary-color);
    border-image: var(--button-highlighted-gradient) 1;
    border-width: 0.4rem;
    border-style: solid;
    box-shadow:
        0 0 14px oklch(0% 0 0 / 40%) inset,
        0 0 12px oklch(0% 0 0 / 20%);
}

.alt-button-colors {
    background-color: var(--light-blue);
    color: var(--fundecor-navy);
    border-image: var(--navy-gradient) 1;
}

.alt-button-colors:hover {
    background-color: var(--pale-blue);
    color: var(--fundecor-navy);
    border-image: var(--navy-gradient-light) 1;
}

.alt-button-colors:active {
    background-color: var(--fundecor-navy);
    color: var(--light-blue);
    border-image: var(--navy-gradient) 1;
}

/*  The SELECTOR class describes the dots used for things such as selecting images in slideshows. 
    State is tracked with button.js to apply highlighting / image focus
*/
.selector {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    font-style: normal;
    background-color: var(--off-white);
    box-shadow: 0 0 10px oklch(0% 0 0 / 20%);
    border: 2px solid var(--off-white);
    border-radius: 50%;
    color: oklch(100% 0 0);
    cursor: pointer;
    padding: 1vw;
    text-decoration: none;
    justify-content: center;

    display: flex;
    width: 1vw;
    height: 1vw;
    margin: none;
}

.selector.active {
    background-color: var(--secondary-color);
    border: 2px solid var(--secondary-color);
}

.selector-container {
    /* TODO! This is redundant and should be swapped to using the utility classes */
    display: flex;
    flex-direction: row;
    width: 100vw;
    max-width: 100vw;
    justify-content: center;
    gap: 3vw;
    padding: 1vw 0vw;
    margin: none;

    background-color: var(--primary-color);
}

/* END BUTTON STYLING */
